<h1 class="docs-md__h1">Introduction</h1>
<h2 class="docs-md__h2">Welcome to Ember-DateTime-Fns.</h2> 
<p>This addon provides date and time helpers for Ember templates and components.</p>

<h2 class="docs-md__h2">Looking for more fns? Check these out!</h2> 
<p>
  <a href="https://github.com/robert-allan-frank/ember-array-fns">ember-array-fns</a><br>
  <a href="https://github.com/robert-allan-frank/ember-intl-fns">ember-intl-fns</a><br>
  <a href="https://github.com/robert-allan-frank/ember-logic-fns">ember-logic-fns</a><br>
  <a href="https://github.com/robert-allan-frank/ember-math-fns">ember-math-fns</a><br>
  <a href="https://github.com/robert-allan-frank/ember-number-fns">ember-number-fns</a><br>
  <a href="https://github.com/robert-allan-frank/ember-string-fns">ember-string-fns</a><br>
</p>